#order {
  padding-top: 32px;
  .navs {
    margin-bottom: 73px;
    .nav-trails {
      display: flex;
      gap: 10px;
    }
  }
  .order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
    .contact {
      display: flex;
      flex-direction: column;
      gap: 70px;
      .contact_txt {
        width: 340px;
        h2 {
          color: rgb(1, 0, 73);
          font-family: Inter;
          font-size: 24px;
          font-weight: 700;
        }
        input {
          font-family: Inter;
          font-size: 15px;
          font-weight: 300;
          width: 288px;
          height: 43px;
          border-radius: 5px;
          border-bottom: 2px solid rgb(1, 0, 73);
          padding-left: 20px;
        }
        .input_1 {
          margin: 20px 0;
        }
      }
      .payment {
        width: 245px;
        h2 {
          color: rgb(1, 0, 73);
          font-family: Inter;
          font-size: 24px;
          font-weight: 700;
        }
        .input_pay {
          display: flex;
          align-items: start;
          margin: 20px 0;
        }
        input {
          margin-right: 20px;
        }
        p {
          color: rgba(1, 0, 73, 0.9);
          font-family: Inter;
          font-size: 14px;
          font-weight: 600;
          padding-bottom: 10px;
          span {
            color: rgb(112, 255, 0);
          }
        }
        button {
          color: rgb(255, 255, 255);
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          border-radius: 3px;
          border: none;
          background: rgb(1, 0, 73);
          padding: 10px 40px;
          width: 246px;
          height: 40px;
        }
      }
    }
    .delivery {
      display: flex;
      flex-direction: column;
      gap: 70px;
      h2 {
        color: rgb(1, 0, 73);
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
      }
      p {
        color: rgba(0, 0, 0, 0.9);
        font-family: Inter;
        font-size: 14px;
        font-weight: 300;
        margin: 10px 0;
      }
      .txt_del {
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgba(1, 0, 73, 0.9);
        p {
          color: rgba(1, 0, 73, 0.9);
          font-family: Inter;
          font-size: 14px;
          font-weight: 600;
        }
      }

      textarea {
        width: 288px;
        height: 101px;
        left: 465px;
        right: 687px;
        top: 379px;
        bottom: 661px;
      }

      .delivery_total_amount {
        width: 288px;
        height: 95px;
        box-sizing: border-box;
        border: 1px solid rgb(1, 0, 73);
        background: rgb(1, 0, 73);
        text-align: center;
        .amount_txt {
          display: flex;
          justify-content: space-evenly;
          gap: 70px;
          padding: 10px 20px;
          h5 {
            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 10px;
            font-weight: 400;
          }
          h6 {
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 13px;
            font-weight: 700;
          }
        }
        p {
          color: rgb(255, 255, 255);
          font-family: Roboto;
          font-size: 10px;
          font-weight: 400;
        }
      }
    }
    .baskets {
      margin-bottom: 70px;
      display: flex;
      gap: 40px;
      flex-direction: column;
      overflow-y: scroll;
      height: 500px;
      width: 500px;

      ::-webkit-scrollbar-track {
        background: #fff;
      }
      .basket {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 147px;
          height: 177px;
          border-radius: 5px;
        }
        .basket_txt {
          h1 {
            color: rgb(1, 0, 73);
            font-family: sans-serif;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
          }
          p {
            color: rgb(1, 0, 73);
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 700;
          }
          .btns {
            display: flex;
            align-items: center;
            margin: 10px 0px;

            .btn {
              background: #fff;
              width: 40px;
              height: 19px;
              color: black;
              text-align: center;
              padding-bottom: 5px;
            }
            div {
              background: rgb(1, 0, 73);
              width: 26px;
              height: 19px;
              text-align: center;
              padding-bottom: 5px;
              color: #fff;
              border: 1px solid black;
            }
          }
          .basket_delete {
            display: flex;
            align-items: center;
            gap: 5px;
            h5 {
              color: rgb(1, 0, 73);
              font-family: sans-serif;
              font-size: 15px;
              font-weight: 700;
            }
            .delete {
              width: 26px;
              height: 19px;
              border-radius: 3px;
              background: rgb(217, 217, 217);
              color: rgb(1, 0, 73);
            }
          }
        }
      }
    }
    .baskets::-webkit-scrollbar {
      width: 12px;
    }
    .baskets::-webkit-scrollbar-track {
      background: #fff;
    }
    .baskets::-webkit-scrollbar-thumb {
      background: rgb(1, 0, 73);
      border-radius: 11px;
    }
  }
}
