#footer {
  padding: 40px 0;
  background: rgb(1, 0, 73);
  .footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h1 {
      padding-top: 60px;
      color: rgb(255, 255, 255);
      font-family: Mochiy Pop One;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
    }
    .contact_1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 300;
        width: 159px;
        height: 61px;
      }
    }
    .contact_2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 300;
        width: 50px;
        height: 60px;
      }
    }
    .contact_3 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 300;
        width: 160px;
        height: 22px;
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .icon {
          background: floralwhite;
          border-radius: 10px;
        }
      }
    }
    .contact_4 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 300;
      }
      p {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 300;
        width: 300px;
        height: 87px;
      }
    }
  }
}
