#book {
  .book {
    .nav {
      margin: 40px 0;
      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        color: rgb(117, 117, 117);
        &:nth-child(3) {
          color: rgb(0, 15, 53);
        }
      }
    }
    .book-block {
      display: flex;
      margin-bottom: 60px;
      gap: 32px;
      align-content: space-between;
      position: relative;
      img {
        width: 426px;
        height: 624px;
      }
      .block-txt {
        h3 {
          color: rgb(1, 0, 73);
          font-size: 36px;
          font-weight: 600;
          line-height: 49px;
          letter-spacing: 0%;
          text-align: left;
          text-transform: capitalize;
        }
        h4 {
          color: rgb(89, 89, 89);
          font-size: 24px;
          font-weight: 600;
          line-height: 33px;
          letter-spacing: 0%;
          text-align: left;
        }
        h5 {
          color: rgb(1, 0, 73);

          font-size: 36px;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0%;
          text-align: left;
          margin-bottom: 30px;
        }
        .count-blok {
          margin: 40px 0;
          display: flex;
          span {
            &:nth-child(1) {
              width: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgb(1, 0, 73);
              color: #fff;
            }
            &:nth-child(2) {
              width: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              box-sizing: border-box;
              border: 1px solid rgb(1, 0, 73);
            }
            &:nth-child(3) {
              width: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgb(1, 0, 73);
              color: #fff;
            }
          }
        }
        p {
          color: rgb(61, 61, 61);
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: left;
        }
        .btns {
          display: flex;
          flex-direction: column;
          gap: 14px;
          position: absolute;
          bottom: 0;
          button {
            width: 270px;
            height: 51px;
            color: rgb(1, 0, 73);
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            background-color: #fff;
            border: 2px solid rgb(1, 0, 73);
            border-radius: 5px;
          }
        }
      }
    }
    h3 {
      margin-bottom: 25px;
    }
    .books {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      .book-block {
        width: 238px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        img {
          width: 238px;
          height: 284px;
        }
        .el-txt {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: rgb(0, 0, 0);

            font-size: 24px;
            font-weight: 800;
            line-height: 117.69%;
            letter-spacing: -2.5%;
            text-align: left;
          }
          img {
            width: 14px;
            height: 14px;
          }
        }
        p {
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 300;
          line-height: 117.69%;
          letter-spacing: -2.5%;
          text-align: left;
        }
      }
    }
  }
}
