* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  border: none;
}
button {
  border: none;
}
